.story-about-us {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.what-we {
	margin-top: 0%;
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	padding: 2%
}
.story-about {	
	font-family: Montserrat;
	font-weight: bolder;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin:23px 0;
    margin-top: 3%;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}

.story-about {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    margin: 23px 0;
}

.line-pink {
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 0 auto;
}

.about {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 47px;
}

.galery-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.galery-section img {
    margin: 30px;
}

.first-photo {
    box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.numbers {
    background-color: #95e1d3;
    width: 100%;
    height: 270px;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: Montserrat;
}

.white-numbers {
    width: 241px;
    border-right: 1px solid #ffffff;
    text-align: center;
    padding-top: 4%;
}

.first-number {
    border-left: 1px solid #ffffff;
}

.number {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

.white-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
}